{# Load the tag library #}
{% load bootstrap3 %}

<head>
  <title>
    {%block title%}
	      McDonald Food List
    {%endblock%}
  </title>
</head>


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/css">
.mynavbar {
    display:block;
    margin:0px;
    padding:0px;
    height:50px;
}
</script>

<script type="text/javascript">
    $(document).ready(function() {
        jQuery.ajaxSettings.traditional = true; //Important 
        
        /*Important functions to enable CSRF token as Django requires it*/
        function getCookie(name) {
            var cookieValue = null;
            var i = 0;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (i; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        /*end CSRF token */
    
        /*Setting the format of the datepicker and datetimepicker*/
        $('.dateinput').datepicker({
            format: "yyyy/mm/dd"
        });
        $('.datetimeinput').datetimepicker({
            format: "YYYY-MM-DD HH:mm"
        });
    
       
        $('.createrating').click(function(e) {
            
            formid = $(this).parent().attr("id"); //find the formid of the button pressed via parent 
            
            $.ajax({
                type: "POST",
                url: "/add/",
                dataType: "json",
                data: {
                    "num": $("#" + formid + " #id_num").val(),
                    "information": $("#" + formid + " #id_information").val(),
                    "color": $("#" + formid + " #id_color").val(),
                    "fontcolor": $("#" + formid + " #id_fontcolor").val(),
                    "form": $("#" + formid).serialize(),
    
                },
                success: function(data, status) {
                    //Populate the dropdown list with all the folders returned in json
                    var $el = $("#id_rating");
                    $el.empty(); // remove old options
                    $el.append($("<option></option>").attr("value", "").text("---------"));
                    $.each(data, function(key, value) {
                        $el.append($("<option></option>").attr("value", value.id).text(value.num));
                    });
                },
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        
        $('.createrestaurant').click(function(e) {
            formid = $(this).parent().attr("id"); //find the formid of the button pressed via parent 
            
            $.ajax({
                type: "POST",
                url: "/add/",
                dataType: "json",
                data: {
                    "name": $("#" + formid + " #id_name").val(),
                    "information": $("#" + formid + " #id_information").val(),
                    "content": $("#" + formid + " #id_content").val(),
                    "address": $("#" + formid + " #id_address").val(),
                    "contact": $("#" + formid + " #id_content").val(),
                    "color": $("#" + formid + " #id_color").val(),
                    "fontcolor": $("#" + formid + " #id_fontcolor").val(),
                    "form": $("#" + formid).serialize(),
    
                },
                success: function(data) {
                    var $el = $("#id_restaurant");
                    $el.empty(); // remove old options
                    $.each(data, function(key, value) {
                        $el.append($("<option></option>").attr("value", value.id).text(value.name));
                    });
                },
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        
        $('.btn.createfood').click(function(e) {
            
            formid = $(this).parent().attr("id"); //find the formid of the button pressed via parent 
    
            $.ajax({
                type: "POST",
                url: "/add/",
                dataType: "json",
                data: {
                    "name": $("#" + formid + " #id_name").val(),
                    "information": $("#" + formid + " #id_information").val(),
                    //"picturename": $("#" + formid + " #id_picturename").val(),
                    //"picture": $("#" + formid + " #id_picture").val(),
                    "color": $("#" + formid + " #id_color").val(),
                    "fontcolor": $("#" + formid + " #id_fontcolor").val(),
                    "rating": $("#" + formid + " #id_rating").val(),
                    "restaurant": $("#" + formid + " #id_restaurant").val(),
                    "form": $("#" + formid).serialize(),
    
                },
                /*
                success: function(data) {
                    if (data.status == 1){
                        window.location.replace("assignment3-3-jianzhi.c9.io/list/"); //to redirect to another page
                    }
                },
                */
                
                 success: function(data) {
                    location.href = "https://assignment3-3-jianzhi.c9.io/listall/";
                 },
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
        
        /* To reset the modal input fields when modal is closed.*/
        $('#myModal').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
        /* To reset the modal input fields when modal is closed.*/
        $('#myModal2').on('hidden.bs.modal', function(){
            $(this).find('form')[0].reset();
        });
    });        

</script>
</head>

{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'recipe/style3.css' %}" />

<div id = "navigation">
    <a href = "{%url 'food_list' '' %}">
        <img src="/media/images/mac.png" alt="McDonald Logo" width="60" height="60">
    </a>
    <h3>{{text}}</h3>
    {% if total != null %}
        <h3>Total number of delicious food: {{total}}</h3>
    {% else %}
        <h3>Welcome to McDonald's</h3>
    {% endif %}
    <ul>
    {% if object_list %}
        {%for food in object_list%}
            <li>
                <a href="{%url 'food_detail' food.id%}">{{food.name}}</a>
            </li>
        {%endfor%}
    {%else%}
        <p>Welcome to McDonald's</p>
    {% endif%}
    
    </ul>

    <h3>Restaurants</h3>
    <ul>
    {% if resto %}
        {%for rest in resto%}
            <li>
                <a href="{%url 'restaurant_list' rest.name%}">{{rest.content}}</a>
            </li>
        {%endfor%}
    {%else%}
        <p>Welcome to McDonald's</p>
    {% endif%}
    
    </ul>
</div>


<body>
    <div class="mynavbar">
        <ul class="nav nav-tabs navbar-right">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                  {%if user.is_authenticated%}
                      <img src="/media/{{curruser.picture}}" height="30px" %} />
                      Hi {{user.username}}!
                  {%else%}
                      Login here!
                  {%endif%}
                  
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  {%if user.is_authenticated%}
                      <li><a href="/accounts/logout">Logout</a></li>
                      <li><a href="/add">Add a new food</a></li>
                      <li><a href="/listall">View all food</a></li>
                  {%else%}
                      <li><a href="/accounts/login">Login</a></li>
                  {%endif%}
                
                      
                </ul>
              </li>
            </ul>
</div>

{%block content%}
	To be replaced by actual content
{%endblock%}
</body>
