{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

<head>
  <title>
    {%block title%}
	      Dis{ITEM]play
    {%endblock%}
  </title>
</head>


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1%}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type="text/javascript">

</script>


{%load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'recipe/style3.css' %}" />

<div id = "navigation">
    <a href = "{%url 'food_list' '' %}">
        <img src="/media/images/random.png" alt="Dis[ITEM]play" width="60" height="60">
    </a>
    <h3>{{text}}</h3>
    {% if total != null %}
        <h3>Total number of delicious food: {{total}}</h3>
    {% else %}
        <h3>Welcome to <b>Dis[ITEM]play</b></h3>
    {% endif %}
    <hr>
    <h4>A place where you can <b>display</b>, <b>account</b> and <b>check your items</b>. Sign up for Free!</h4>
    <ul>
    {% if object_list %}
        {%for food in object_list%}
            <li>
                <a href="{%url 'food_detail' food.id%}">{{food.name}}</a>
            </li>
        {%endfor%}
    {%else%}
        
    {% endif%}
    
    </ul>

    <h3><b>Stores</b></h3>
    <ul>
    {% if resto %}
        {%for rest in resto%}
            <li>
                <a href="{%url 'restaurant_list' rest.name%}">{{rest.content}}</a>
            </li>
        {%endfor%}
    {%else%}
        <p>Welcome to <b>Dis[ITEM]play</b></p>
    {% endif%}
    
    </ul>
</div>


<body>
{%block content%}
	To be replaced by actual content
{%endblock%}
</body>
