@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
* { box-sizing:border-box; }
body { 
    background:url(media/little_pluses.png) #cacaca;
    margin:30px;
}

#navigation {
    line-height:30px;
    background-color:#eeeeee;
    height:2000px;
    width:100px;
    float:left;
    padding:20px;	
}

#content {
    /*
    margin:20px;
    
    background-color:#eeeeee;
    */
    line-height:30px;
    width:1000px;
    float:left;
    padding:20px;
}